body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

/* HEADER */
.header {
    background: url('https://i.imgur.com/8Km9tLL.jpg') no-repeat center;
    background-size: cover;
    padding: 30px;
    color: white;
}

.logo {
    background: #c0392b;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-style: italic;
}

/* MENU */
.nav {
    background: #ddd;
    padding: 10px;
    text-align: center;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/* CONTENT */
.container {
    display: flex;
    padding: 20px;
}

/* LEFT */
.left {
    flex: 2;
}

.product {
    display: flex;
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
}

.product img {
    width: 120px;
    margin-right: 15px;
}

.product h3 {
    color: red;
}

/* RIGHT */
.right {
    flex: 1;
    margin-left: 20px;
}

.box {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.box h3 {
    color: red;
}

/* FOOTER */
.footer {
    background: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}